* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial, sans-serif;
	color: #C75050;
	letter-spacing: 3px;
	text-align: center;
}

.flex {
	display: flex;
}

body {
	flex-direction: column;
	height: 100vh;
	background-color: Moccasin;
}

main {
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	height: 700px;
	flex-grow: 1;
}

footer {
	margin-top: auto;
}

h3 {
	text-align: center;
	margin-top: 20px;
	margin-right: 20px;
}

#table {
	width: 1000px;
	height: 700px;
	border: 1px solid #CAEFFB;
	border-radius: 10px;
	-webkit-flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.sky {
	background: #CAEFFB;
}

aside {
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#joystick {
	margin: auto;
	flex-direction: column;
	align-items: center;
	gap: 5px;
	min-width: 200px;
}

button {
	width: 50px;
	height: 50px;
	font-size: 20px;
	cursor: pointer;
	border: 1px solid grey;
	border-radius: 5px;
	background-color: #CAEFFB;
}

#start, #restart, #fire {
	width: 200px;
	margin: 20px;
}

button:hover {
	background-color: #C75050;
	color: white;
}

.color {
	background-color: #C75050;
}

.green {
	background-color: green;
}

.blue {
	background-color: LightBlue;
}

.white {
	background-color: white;
}

.boolet {
	background: linear-gradient(to right, transparent 40%, black 40%, black 60%, transparent 60%);
	border-radius: 50%;
}

.fade {
	opacity: 30%;
}
